/* .css-eglki6-MuiLinearProgress-root{
  background-color: #1D222A !important;
  height: 3px !important;
}
.css-5ir5xx-MuiLinearProgress-bar1{
  background-color: #758BFD !important;
}
.css-1r8wrcl-MuiLinearProgress-bar2{
  background-color: #758BFD !important;
} */